@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
.formStyle {
  position: relative;
  text-align: center;
  font-family: "Audiowide", cursive;
  margin-top: 10px;
}

.inputStyle {
  box-sizing: border-box;
  border: none;
  background-color: #3cbc8d;
  color: white;
}

.buttonStyle {
  margin-top: 10px;
}
