@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
.formContainer {
  top: 0;
  width: 100%;
  height: 40px;
  background: tomato;
  position: fixed;
}
.formStyle {
  position: fixed;
  text-align: center;
  font-family: "Audiowide", cursive;
  top: 0;
  left: 50%;
}

.inputStyle {
  box-sizing: border-box;
  border: none;
  background-color: #3cbc8d;
  color: white;
}

.buttonStyle {
  margin-top: 10px;
}
