@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bungee+Inline&display=swap");
.containerGrid {
  position: absolute;
  left: 50%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: auto;
}
.styleCards {
  position: relative;
  word-break: break-all;
  width: auto;
  background: cornsilk;
}
.dateAired {
  font-family: "Alex Brush", cursive;
  font-size: 16px;
  text-align: center;
  background: chocolate;
}

.titleEpisode {
  font-family: "Bungee Inline", cursive;
}
