@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
.main {
  top: 0;
  width: 100%;
  height: 40px;
  background: tomato;
  position: fixed;
}
.main input {
  position: fixed;
  text-align: center;
  font-family: "Audiowide", cursive;
  top: 5px;
  left: 50%;
}
.listContainer {
  position: absolute;
  width: 63%;
  height: 450px;
  background: deeppink;
  top: 150px;
  left: 450px;
  overflow: auto;
  border-radius: 15px;
}
.listContainer li {
  font-family: "Audiowide";
}
