@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap");

.outer {
  top: 170px;
  height: 600px;
  overflow-y: auto;
  position: relative;
}
.containerTable {
  position: sticky;
  table-layout: fixed;
  left: 10%;
  top: 100px;
  display: table;
  width: 80%;
  background: wheat;
  margin-bottom: 20px;
}
.styleHeader {
  font-family: "Syne Tactile", cursive;
  background-color: dodgerblue;
}
.apiStyles {
  font-family: "Alfa Slab One", cursive;
  background: rgb(219, 60, 60);
  text-align: center;
  color: #fff;
  overflow-y: auto;
}
/* .tableBod {
  overflow-y: auto;
} */
