@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Bungee+Inline&display=swap");
.containerTable {
  position: relative;
  left: 10%;
  top: 100px;
  display: table;
  width: 80%;
  background: wheat;
  overflow: scroll;
  /* grid-template-rows: 200px; */
}
